<div id="title">
  <h1>
    FX Calculator
  </h1>  
</div>

<div id="form">
  <form method="post">
<p>Date:
<input type="text" name="curr_date" value="<%= Date.parse(@@date).strftime("%d/%m/%Y") %>" readonly /> </p>
Amount:
<input name="amount" value="100" type="number" required="true" min="1" step="1"/> 
From:
<select name="currency_from" required="true">
  <option default>From CCY</option>
  <% @currency.each_pair do |key, value| %>
  <option value="<%= value %>"> <%= key %> </option>    
  <% end %>
</select>
To:  
<select name="currency_to" required="true">
  <option default>To CCY</option>
  <% @currency.each_pair do |key, value| %>
  <option value="<%= value %>"> <%= key %> </option>    
  <% end %>
</select>
<p><input type="submit" name="convert" value="Convert"></p>
</form>
</div>